# --- CẤU HÌNH PHỤ ---
PROJECT_NAME="Web Base"

# --- DATABASE (POSTGRESQL) ---
POSTGRES_USER=my_admin
POSTGRES_PASSWORD=super_secret_password
POSTGRES_DB=web_base

# --- BACKEND ---
API_V1_STR=/api/v1

# --- JWT ---
SECRET_KEY=chuoi_ky_tu_cho_jwt
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=11520 # 8 ngày

# --- FRONTEND ---
VITE_API_URL=/api/v1
